.detailView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detailImage {
    width: calc(100vw * var(--scale-factor, 1));
    max-height: 100vh;
    object-fit: contain;
    transform-origin: center;
}