.aboutContainer {
  display: flex;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 96px;
    color: #393232;
    margin: 64px 32px 0 32px;
  }

  h3 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 40px;
    color: #6f777c;
    margin: 0 32px;
  }

  p {
    font-family: "Libre Franklin", sans-serif;
    font-size: 24px;
    color: #6f777c;
    width: 45%;
    margin: 16px 32px;
    height: 100%;
  }
}


