.sidebarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 100vh;
    margin: 0;
}

ul {
    height: 320px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 48px;
    list-style-type: none;
    padding-inline-start: 0;
}

.navSpacing {
    margin-top: 60px;
}

button {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 32px;
    cursor: pointer;
    border: none;
    background: none;
}

.closeSidebarButton {
    left: 388px;
}

.openSidebarButton {
    left: 32px;
}

.redStyle {
    color: #e13232;
    background-color: #fba4b2;

    .currentPage {
        color: #ffffff;
    }
}

.tealStyle {
    color: #0d4647;
    background-color: #faf5d8;

    .currentPage {
        color: #70d0bd
    }
}

.purpleStyle {
    color: #956fc7;
    background-color: #fbcea4;

    .currentPage {
        color: #592693;
    }
}

.blueStyle {
    color: #101e6d;
    background-color: #d590f5;

    .currentPage {
        color: #ffffff;
    }
}

.greenStyle {
    color: #4a8d3f;
    background-color: #a0f4e3;

    .currentPage {
        color: #17a4f6;
    }
}

.orangeStyle {
    color: #e9873b;
    background-color: #faebc3;

    .currentPage {
        color: #eec326;
    }
}