.sidebarContainer {
    width: 480px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    height: 320px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 48px;
    list-style-type: none;
}