$titleSizeDesktop: 128px;
$titleSizeMobile: 96px;
$titleLineHeightDesktop: 88px;
$titleLineHeightMobile: 64px;

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h1 {
        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: $titleSizeDesktop;
        line-height: $titleLineHeightDesktop/$titleSizeDesktop;
        width: 480px;
        transform: skewY(-16deg);
        text-align: center;
    }

    @media (max-width: 700px) {
        h1 {
            font-size: $titleSizeMobile;
            line-height: $titleLineHeightMobile/$titleSizeMobile;
            width: 360px;
        }
    }
}

.redStyleTitle {
    color: #fba4b2;
}

.tealStyleTitle {
    color: #faf5d8;
}

.purpleStyleTitle {
    color: #fbcea4;
}

.blueStyleTitle {
    color: #d590f5;
}

.greenStyleTitle {
    color: #a0f4e3;
}

.orangeStyleTitle {
    color: #faebc3;
}